<h1>TRAVEL TIME!</h1>


<div class="destination-list">
  <% @destinations.each do |destination| %>
  <div>
    <h2><%= link_to destination.fetch("country"), destination_path(destination) %></h2>
  </div>

  <% end %>
